{{#if is_student}}
	<a href="/org_code" class="btn btn-primary">Join an Organization</a>
	<ul class="list-group">
		{{#if orgs}}
			<h3>Organizations I Am In</h3>
			{{#each orgs}}
				<form method="get" action="/orgs/">
					<input name="org_code" type="hidden" value="{{this.code}}">
					<a onClick="submitOrgInfoForm(this)" type="submit" class="list-group-item">
						{{this.name}}
					</a>
				</form>
		
			{{/each}}
		{{/if}}
	</ul>
	
{{/if}}

{{#if is_teacher}}
	<a href="/make_org" class="btn btn-primary">Create an Organization</a>
{{/if}}

{{#if is_counselor}}
	<a href="/make_org" class="btn btn-primary">Create an Organization</a>
	<ul class="list-group">
		{{#if orgs}}
			<h3>Organizations I Lead</h3>
			{{#each orgs}}
				<form method="get" action="/orgs/">
					<input name="org_code" type="hidden" value="{{this.code}}">
					<a onClick="submitOrgInfoForm(this)" type="submit" class="list-group-item">
						{{this.name}}
					</a>
				</form>
			{{/each}}
		{{/if}}
	</ul>
{{/if}}

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#view_inbox_modal">View Inbox</button>

<!-- Modal -->
<div class="modal fade" id="view_inbox_modal" data-backdrop="static" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Inbox</h4>
			</div>
			<div class="modal-body">
				{{#each inbox}}
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-10 col-md-11">
										<div>
											<div><br>{{this.sender}}</b></div>
											<div class="mic-info">
												{{this.timestamp}}
											</div>
										</div>
										<hr />
										<div class="inbox-message-text">
											{{this.message}}
										</div>
										{{#if this.can_reply}}
											<a  href="#" class="btn btn-sm btn-hover btn-primary" href="#reply" ><span class="glyphicon glyphicon-share-alt" style="padding-right:3px;"></span>Reply</a>
										{{/if}}
										<a href="#" class="btn btn-sm btn-hover btn-danger"><span class="glyphicon glyphicon-remove" style="padding-right:3px;"></span>Delete</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				{{/each}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript' src='/js/index_script.js'></script>
