<div class="jumbotron">
	<h1>{{org.name}}</h1>
	<ul class="list-group">
		<li class="list-group-item">Leader: {{org.leader}}</li>
		<li class="list-group-item">Region: {{org.region}}</li>
	</ul>
	{{#if is_student}}
		{{#if user_in_org}}
			<form id="leave_org_form" method="post" action="/orgs/leave_org">
				<input name="org_code" type="hidden" value="{{org.code}}">
				<button type="submit" class="btn btn-primary">Leave</button>
			</form>
		{{/if}}
	{{/if}}
	
	{{#if is_counselor}}
		<h3>Organization Settings</h3>
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			 <span class="caret"></span>
		</button>
		<form id="org_settings_form" method="post" action="orgs/update_orgs_settings">
			
		</form>
		<ul class="dropdown-menu">
			<li>Invite Only</li>
		</ul>
	{{/if}}
</div>
{{#if is_counselor}}
	<div>
		<h2 class="page-header">Manage Members</h2>
	</div>
	{{#each org.members}}
		<ul class="list-group">
			<li class="list-group-item">
				{{this}}
				<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
					 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<form id="rem_user_form" method="post" action="/orgs/rem_user">
						<input name="org_code" type="hidden" value="{{../org.code}}">
						<input name="username" type="hidden" value="{{this}}">
					</form>
					<li><a onClick="submitRemUserForm()" type="submit" href="#">Remove</a></li>
					<form id="send_msg_form" method="post" action="/orgs/send_msg">
						<input name="recipient" type="hidden" value="{{this}}">
						<input name="username" type="hidden" value="{{this}}">
					</form>
					<li><a href="#" data-toggle="modal" data-target="#{{this}}_send_msg_modal">Send Message</a></li>
				</ul>
				</div>
			</li>
		</ul>		
		
		<!-- Modal -->
		<div class="modal fade" id="{{this}}_send_msg_modal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Send {{this}} a message</h4>
					</div>
					<div class="modal-body">
						<form id="{{this}}_send_msg_form" method="post" action="/orgs/send_msg">
							<input name="recipient" type="hidden" value="{{this}}">
							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control" name="message" placeholder="Enter you message here..."></textarea>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="can_reply">Can Reply</label>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button onClick="submitSendMsgForm('{{this}}_send_msg_form')" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
					</div>
				</div>
			</div>
		</div>
		
	{{/each}}
{{/if}}

<script type='text/javascript' src='/js/org_page_script.js'></script>
